html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

/* navbar from here */
nav a img {
    width: 30px;
    margin-right: 10px;
}

.navbar-brand {
    font: 120 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

/* navbar end here */

.searchContainer {
    padding-top: 5rem;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../image/headerimage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.searchContainer .form-inline {
    max-width: 1000px;
}

.card {
    font-family: Roboto, sans-serif !important;
    min-height: 10rem;
    max-width: 1000px;
    width: 75%;
    margin: 1rem;
    /*background: white;*/
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}

/*.card h1,
.card p {
    padding: 1rem;
}*/

.card a:hover {
    text-decoration: none;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -3px, 0);
}

.card:hover h1, .card:hover span {
    color: #ff544f;
}

.card:nth-child(n){
    background-image: linear-gradient(120deg, #ffffff 0%, #b1bdc6 100%);
}

/*.card:nth-child(2n){
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(3n){
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}*/


.backToTop {
    width: 3rem;
    right: 0;
    float: right;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/* Footer from here!*/
/* Add This If Using Jumbotron-Fluid class */

.jumbotron-fluid {
    margin-bottom: 0px;
}


/* Footer Design */

#myFooter {
    background-color: #373a48;
    color: white;
}

#myFooter .footer-copyright {
    background-color: #383737;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    background-color: #373a48;
    list-style-type: none;
    padding-left: 0;
    line-height: 1;

}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .myCols {
    text-align: center;
}


#myFooter .myCols li {
    display: block;
    float: none;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;

}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/* Footer end here!*/



.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* All Social Media Button Settings*/
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}