<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="/static/style_bar.css"> 
  </head>

  <body>
        <%- include('sgj_bar') %>

    <!-- Tab panes -->
    <div class="jumbotron jumbotron-fluid">
      <div class="tab-content">
          <div class="form-inline">
                <div class="col-md-4">
                        <img src="/static/broken_robot.png" class="img-fluid" alt="Responsive image">            
                    </div>
                    <div class="col-md-6">
                        <h3>Error!</h3>
                        <% if (message === "no_site") {%>
                            <h4>You are attempting to access an unavailable page,</h4>
                            <h4>Or this page is temporarily down.</h4>                            
                        <% } else if (message === "access_denied") {%>
                            <h4>You do not have permission to access the page.</h4>
                        <% } else if (message === "iden_tags") {%>
                            <h4>A job cannot have identical tags!</h4>
                        <% } else if (message === "iden_fields") {%>
                            <h4>There are identical fields in your form.</h4>
                            <h4>It could be locations or social links.</h4>
                            <h4>Please check your form again.</h4>
                        <% } else if (message === "iden_email") {%>
                            <h4>The email is used by another user!</h4>
                        <% } else if (message === "iden_username") {%>
                            <h4>The username is used by another user!</h4>
                        <% } else if (message === "password") {%>
                            <h4>Passwords do not match.</h4>
                        <% } else { %>
                            <h4>There is error in the request.</h4>
                        <% } %>
                        <h4>Really sorry for that. ツ</h4>
                    </div>
          </div>
      </div>
    </div>
    
    <%- include('sgj_footer') %>
  </body>
</html>


