<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="/static/style_bar.css"> 
  </head>

  <body>
      <nav id="navBar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="mx-auto order-lg-1 d-flex">
              <a class="navbar-brand mx-auto" href="#">
                  <img src="/static/logo.png" alt="">
              </a>
              <a class="navbar-brand mx-auto" href="#">SaigonJobs</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse w-100 order-1 order-lg-0 dual-collapse2" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">IT Jobs</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Top Company
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">VINASA Rankings</a>
                          <a class="dropdown-item" href="#">Top rating</a>
                          <a class="dropdown-item" href="#">Top recruiment</a>
                      </div>
                  </li>
                  <li class="nav-item my-lg-0">
                      <a class="nav-link" href="#">About Us</a>
                  </li>
              </ul>
          </div>
          <div class="collapse navbar-collapse w-100 order-2 dual-collapse2" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <% if (personal[0]) { %> 
                    <li class="nav-item active">
                    <% var link = "/profile/role" + personal[1] + "/userID/" + personal[0] %>                    
                        <a class="nav-link" href="<%= link %>">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </li>                    
               <% } else {%> 
                <li class="nav-item">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
               <% } %>
              </ul>
          </div>
      </nav>

    <!-- Tab panes -->
    <div class="jumbotron jumbotron-fluid">
      <div class="tab-content">
          <div class="form-inline">
                <div class="col-md-4">
                        <img src="/static/broken_robot.png" class="img-fluid" alt="Responsive image">            
                    </div>
                    <div class="col-md-6">
                        <h3>Error!</h3>
                        <% if (message === "no_site") {%>
                            <h4>You are attempting to access an unavailable page,</h4>
                            <h4>Or this page is temporarily down.</h4>                            
                        <% } else if (message === "access_denied") {%>
                            <h4>You do not have permission to access the page.</h4>
                        <% } else { %>
                            <h4>There is error in the request.</h4>
                        <% } %>
                        <h4>Reall sorry for that. ツ</h4>
                    </div>
          </div>
      </div>
    </div>
    
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="./">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2019 SaigonJobs. All Rights Reserved. </p>
        </div>
    </footer>
  </body>
</html>


