html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* navbar from here */
nav a img{
    width: 30px;
    margin-right: 10px;
}

.navlogin{
    justify-content: flex-end;
}

.navbar-brand{
    font: 120 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
/* navbar end here */

.container{
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('headerimage.jpg');
    background-position: center;
    background-size: cover;
}

.container .form-inline{
    width: 100%;
    max-width: 1000px; 
    justify-content: center;
    align-content: center;
}

.container .form-inline .form-control{
    width: 80%;
}

.container .form-inline .btn{
    background-color: rgb(31, 133, 31);
    color: white;
}

.container .form-inline .btn:hover{
    background-color: rgb(87, 207, 87);
}

footer{
    height: 100px;
    background-color: gray;
    position: relative;
    bottom: 0px;
}