<div class="col-md-3">
    <div class="card sticky-top">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>Did You Know?</h3></li>     
            <li class="list-group-item">
                    <% var random = Math.floor(Math.random() * (10 - 1)) + 1 %>
                    <% if (random == 1) { %>
                        <span>41 percent of job seekers search for jobs while in bed, 30 percent while at work, and 18 percent from a restroom. </span>
                    <% } else if(random == 2) { %>
                        <span>Average time spent by recruiters looking at a resume: 5 to 7 seconds.</span>
                    <% } else if (random == 3) {%>
                        <span>According to a recent survey, hiring managers report that the quality they value least in a candidate is intelligence, the most is reliability.</span>
                    <% } else if (random == 4) {%>
                        <span>76 percent of resumes are discarded for having an unprofessional email address.</span>
                    <% } else if (random == 5) {%>
                        <span>Average length of an interview? Forty minutes. Average time it takes for a hiring manager to know if they will hire that candidate? Ninety seconds.</span>
                    <% } else if (random == 6) {%>
                        <span>Millennials make up 45 percent of the workforce now, making them the highest represented generation.</span>
                    <% } else if (random == 7) {%>
                        <span>79 percent of job candidates are likely to use social media in their job search.</span>
                    <% } else if (random == 8) {%>
                        <span>75 percent of employers expect a thank-you note following an interview.</span>
                    <% } else if (random == 9) {%>
                        <span>Typical length of a job search: 16.9 weeks</span>
                    <% } else if (random == 10) {%>
                        <span>Biggest trend in finding candidates for professional positions? Reaching out to employed people who might be “passive job-seekers” — happy where they are, but if an opportunity came their way that seemed interesting, they might pursue it.</span>
                    <% } %>
            </li>      
        </ul>
    </div>
</div>     


